@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    background: white;
    margin-left: 20px;
}


/* hero opention open */
.hero {
    height: 100vh;
    z-index:5;
}

.hero-txt {
    margin-top: 30vh;
    width: 100%;
    color: black;
    align-items: center;
}

.hero-txt h2 {
    font-weight: 400;
    font-size: 40px;
}

.hero-txt p {
    font-size: 35px;
}

.span {
    color: #8a2be2;
    font-weight: 600;
}

.hero-txt .btn {
    background: #8a2be2;
    color: #fff;
    align-items: center;
    width: 15%;
}


#elementJob {
    font-size: 38px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px #8400ff;
    margin-top: -10px;
}


@media (max-width: 768px) {
    .hero-txt .btn {
        width: 30%;
    }
}

/* ! animation open */

.area{
    width: 100%;
    height:100vh;
    z-index:1;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #c6c5c533;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* ! animation close */

/* hero opention close */






/***** about open ****************/

#about {
    margin-top: -80vh;
}

.about h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
}

#element {
    font-size: 35px;
    font-weight: 600;
}


.about-main-txt {
    font-size: 20px;
    padding-top: 40px;
}

.about {
    margin-top: -80px;
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.about .about-txt h1 {
    font-weight: 600;
    letter-spacing: 3px;
}

.span {
    font-weight: 700;
}

.about-img img {
    width: 480px;
    height: auto;
}


/* ? services open */
.services .container .row {
    display: flex;
    justify-content: space-around;
}

.services h1 {
    text-align: center;
    margin: 50px auto 120px !important;
    padding-top: 50px;
}

.services .main {
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.service {
    background: #282828;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 1;
    box-shadow: 0 0 20px -25px #030380;
    transition: transform .8s;
}

.service-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #282828;
    border: 18px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-logo i {
    font-size: 40px;
    transition: transform 1s;
}

.service h4 {
   height: 35px;
   width: 80%;
   background: #282828;
   margin: 50px auto;
   position: relative;
}

.service h4::after {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #282828, #fff);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.service h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff, #282828);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadowOne {
    height: 200px;
    width: 80%;
    background: #282828;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -25px #030380;
    transition: transform .8s;
}

.shadowTwo {
    height: 200px;
    width: 64%;
    background: #282828;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.services .main:hover .service{
    transform: translateY(-50px);
}

.services .main:hover .shadowOne{
    transform: translateY(-25px);
}

.services .main:hover i {
    transform: rotate(360deg);
}
/*? services close */


/* todo email sent successfully*/

.contact-confirmation {
    width: 40%;
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 15px 20px;
    position: fixed;
    z-index: 1000;
    top: 35%;
    left: 28%;
    height: 8rem;
    border-radius: 10px;
    display: none;
}

.contact-confirmation h2 {
    font-size: 23px;
}

.contact-confirmation .btn {
    background: #8a23eb;
    color: white;
    position: absolute;
    right: 10%;
}



@media (max-width:990px) {
    .about {
        margin-top: 200px;
    }
}

@media (max-width:838px) {
    .about {
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        margin-right: 5%;
    }

    .about {
        flex-direction: column;
        margin-top: 400px;
    }

    .about-txt {
        width: 100%;
        margin-top: -330px;
    }

    .about-img {
        margin-top: 50px;
        width: 100%;
    }

    .about-img img {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        margin-right: 16%;
    }
}

@media (max-width: 790px) {
    .navbar-toggler {
        margin-right: 15%;
    }
}

@media (max-width: 650px) {
    .navbar-toggler {
        margin-right: 10%;
    }
}

@media (max-width: 535px) {
    .navbar-toggler {
        margin-right: 5%;
    }
}

@media (max-width: 452px) {
    .navbar-toggler {
        margin-right: 5%;
    }

    .about {
        margin-top: 80%;
    }
}

@media (max-width: 382px) {
    .navbar-toggler {
        margin-right: 5%;
    }

    .about {
        margin-top: 110%;
    }
}

@media (max-width: 318px) {
    .navbar-toggler {
        margin-right: 5%;
    }

    .about {
        margin-top: 130%;
    }
}

/**************** about close *************/




/*!!!!!!!!!! contact open !!!!!!!!!!! */
.contact-btn {
    padding: 10px 15px;
    background: #8a2be2;
    color: white;
}

.contact-btn:hover {
    background: #8a23eb;
    color: #bbb;
}

/*!!!!!!!!!! contact close !!!!!!!!!!! */



/* footer open */
footer {
    bottom: 0;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    width: 600px;
    margin-left: 60px;
}

.footer-logo h2 {
    width: 40%;
    height: auto;
}

.footer-txt {
    margin-left: 10px;
    width: 70%;
}

.footer-icons {
    margin-right: 50px;
    color: #afafaf;
}

.footer-icons a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}

.footer-icons a:last-child {
    color: crimson;
}

/* footer close */
